<meta charset="utf-8">
<% if (typeof title == 'undefined') { %>
  <title>Face</title>
<% } else { %>
  <title><%= title %></title>
<% } %>

<link rel="stylesheet" href="dist/semantic.min.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/<%= type %>.css"/>
<link rel="icon" type="image/png" href="images/<%= type %>.png"/>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous">
</script>
<script src="dist/semantic.min.js" type="text/javascript"></script>
