<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% if(type == 'user') { %>
      <% include partials/user.html %>
    <% } else if(type == 'admin') { %>
      <% include partials/admin/admin.ejs %>
    <% } else if(type == 'login') { %>
      <% include partials/login.html %>
    <% } else { %>
      <% include partials/home.html %>
    <% } %>
    
    <% include partials/footer.html %>
  </body>
</html>
