<h3 class="ui top attached header">
  Remove Client
</h3>
<div class="ui attached segment">
  <form class="ui form">
    <div class="field">
      <label>Client ID</label>
      <input type="text" id="remove_id" placeholder="Client ID">
    </div>
    <!-- maybe some password requirement, for now a popup will do -->
    <button class="ui button" onclick="removeBtn();" type="button">Submit</button>
  </form>

  <div class="ui segment del loaders">
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <div class="ui negative message">
    <div class="header">Error</div>
    <p></p>
  </div>
  <div class="ui success message">
    <div class="header">Success</div>
    <p></p>
  </div>
</div>
