<h3 class="ui top attached header">
  Update Client
</h3>
<div class="ui attached segment">
  <form class="ui form">
    <div class="field">
      <label>Client ID</label>
      <input type="text" id="update_id" placeholder="Client ID">
    </div>
    <div class="field">
      <label>Client PN</label>
      <input type="text" name="update_pn" placeholder="YYYYMMDD-XXXX">
    </div>
    <div class="field">
      <label for="update_photo" style="width: 180px;" class="ui icon button">
        <i class="file image outline icon"></i>
        <span>Open Image</span></label>
      <input type="file" style="display: none;" id="update_photo" accept="image/*">
    </div>
    <button class="ui button" onclick="update();" type="button">Submit</button>
  </form>

  <div class="ui segment update loaders">
    <div class="ui active inverted dimmer">
      <div class="ui indeterminate text loader" id="upd_file_load">Preparing Files</div>
      <div class="ui text loader" id="upd_load">Loading</div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">Error</div>
    <p></p>
  </div>
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header">Success</div>
    <p></p>
  </div>
</div>
